@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F5EFE7;
}

header{
    padding: 1vw;
    padding-bottom: 2vw;
    background-color: #213555;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0; 
}

li,a{
    font-family: "Hammersmith One";
    font-weight: 500;
    font-size: 1.3vw;
    color: white;
    text-decoration: none;
    background-color: #213555;
}

header img{
    width: 50%;
    height: auto;
    background-color: #213555;
}

.logo:hover{
    opacity: 0.8;
    cursor: pointer;
}

.logo{
    display: flex;
    background-color: #213555;
    justify-content: center;
    align-items: center;
    width: 49vw;
    height: auto;
    margin-top: 0;
    margin-bottom: 1vw;
}

.menu{
    list-style: none;
    background-color: #213555;
}

.menu li{
    display: inline-block;
    margin-right: 4.6vw;
    margin-left: 4.6vw;
}

.menu li a{
    transition: all 0.3s ease 0s;
}

.menu li a:hover{
    color: #D8C4B6;
}

body {
    padding-top: 5vw;
}

.content{
    display: flex;
    position: relative;
    margin-top: 10vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15vh;
    min-height: 2vh;
}

.event1,
.event2,
.event3,
.event4,
.event5 {
  position: relative;
  flex-basis: 90vw;
  height: 28vw;
  margin: 1vw;
}

.event5{
    margin-bottom: 4vw;
}

.box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.3);
    border-radius: 1vw;
}

.location{
    position: absolute;
    background-color: white;
    width: 4vw;
    height: auto;
    top: 15vw;
    left: 38.5vw;
}

.calendar{
    position: absolute;
    background-color: white;
    width: 3vw;
    height: auto;
    top: 20vw;
    left: 39vw;
}

.loc{
    font-family: Calibri;
    position: absolute;
    background-color: white;
    font-size: 1.4vw;
    left: 43.5vw;
    top: 16vw;
}

.date{
    font-family: Calibri;
    position: absolute;
    background-color: white;
    font-size: 1.4vw;
    left: 43.5vw;
    top: 21vw;
}

.title{
    font-family: Calibri;
    position: absolute;
    background-color: white;
    font-size: 1.8vw;
    left: 38.5vw;
    top: 2vw;
}

.con{
    font-family: Calibri;
    position: absolute;
    background-color: white;
    font-size: 1.6vw;
    left: 38.5vw;
    right: 2vw;
    top: 5vw;
}

.iot{
    position: absolute;
    width: 33.6vw;
    height: auto;
    top: 2.5vw;
    left: 2vw;
}

.trade{
    position: absolute;
    width: 33.6vw;
    height: auto;
    top: 4.5vw;
    left: 2vw;
}

.ghealth{
    position: absolute;
    width: 33.6vw;
    height: auto;
    top: 4.5vw;
    left: 2vw;
}

.arts{
    position: absolute;
    width: 33.6vw;
    height: auto;
    top: 6vw;
    left: 2vw;
}

.sus{
    position: absolute;
    width: 33.6vw;
    height: auto;
    top: 2.5vw;
    left: 2vw;
}

#bottom{
    position: relative;
    background-color: #213555;
    height: 7vw;
    display: flex;
    flex-direction: column;
}

.Copyright{
    position: absolute;
    background-color: #213555;
    bottom: 0;
    left: 2vw;
    color: grey;
    padding: 1vw;
    font-family: Calibri;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.3);
}

.follow{
    position: absolute;
    background-color: #213555;
    font-family: "Hammersmith One";
    color: white;
    font-size: 1.5vw;
    right: 18vw;
    top: 1.5vw;
}

.facebook{
    position: absolute;
    background-color: #213555;
    height: 2.2vw;
    margin-top: 3.1vw;
    right: 19.8vw;
}

.instagram{
    position: absolute;
    background-color: #213555;
    height: 1.5vw;
    margin-top: 3.5vw;
    right: 24.1vw;
}

.twitter{
    position: absolute;
    background-color: #213555;
    height: 1.5vw;
    margin-top: 3.5vw;
    right: 22.1vw;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        margin-right: 2vw;
        margin-left: 2vw;
    }

    li,a{
        font-size: 2vw;
    }

    body{
        padding-top: 4vw;
    }

    #bottom{
        height: 13vw;
        width: 100%;
        bottom: 0;
        display: flex;
    }

    .Copyright{
        font-size: 1.5vw;
    }

    .follow{
        top: 4vw;
        font-size: 2.2vw;
    }

    .instagram{
        top: 3.7vw;
        width: 2vw;
        height: auto;
        right: 27.5vw;
    }

    .twitter{
        top: 3.7vw;
        width: 2vw;
        height: auto;
        right: 24.2vw;
    }

    .facebook{
        top: 3.5vw;
        width: 3.4vw;
        height: auto;
        right: 20.6vw;
    }
}